//@import "../../style.scss";

.post {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #c7f2a433;
  .container {
    padding: 30px 40px;
    min-height: 200px;
    width: 70%;
    // box-shadow: 5px 5px lightgrey;
    border: 1px solid lightgrey;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 10px 0;

      .leftt {
        flex: 3;
        display: flex;
        align-items: center;

        .image {
          width: 75px;
          height: 75px;
          border-radius: 50%;
          margin: 0 15px;
          object-fit: cover;
        }

        .info {
          display: flex;
          flex-direction: column;

          .role {
            color: #333;
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 10px;
          }
          .company {
            color: #333;
            font-size: 22px;
            font-weight: 600;
          }
        }
      }

      .rightt {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        

        .button {
          width: 70%;
          padding: 10px;
          border-radius: 10px;
          border: none;
          background-color: #009470;
          color: white;
          font-weight: bold;
          font-size: 15px;
          cursor: pointer;
          &:hover {
            background-color: rgb(0, 148, 112, 0.8);
          }
        }
      }
    }

    .body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 10px 0px;
      .company {
        display: flex;
        flex-direction: column;
        padding: 10px;
        .subcompany {
          padding: 5px 0;
          text-align: center;
        }
      }
    }
    .bheader {
      font-size: 18.5px;
    }
    .desc {
      // color: #555;
      font-size: 17px;
      opacity: 60%;
      // font-weight: 400;
    }
  }
}
.buttonn {
  margin-left: 87%;
  width: 10%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #009470;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: -40px;
  &:hover {
    background-color: rgb(0, 148, 112, 0.8);
  }
}
